@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to my CMCS Web Application!!!!
        by Shameel Reddy ST10090985</b>
    </h1>
</div>
<style>
    body {
        background-image: url('img/wallpaperflare.com_wallpaper.jpg'); /*https://wallup.net/landscape-nature-lake-mountain-snow-forest-stones-turquoise-water-winter-mist-cabin/ */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
</style>


